extends ./layouts/main-layout.pug

block content
        .container.mt-4.form-container 
            form.w-25(action="/new_product", method="post")
                .form-control.m-3.p-2 
                    .mt-2.mb-3 
                        label.form-label.fs-4 Title
                        input.form-control(type="text", name="title")
                    .my-3 
                        label.form-label.fs-4 Select Image
                        input.form-control(type="file", name="img")
                button.btn.btn-primary.fs-4.w-100.m-3.px-3(type="submit") Add Product
                