doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Store
    body 
        nav.navbar.navbar-expand-lg.bg-body-tertiary.border-bottom
            .container-fluid
                .collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link.text-dark.fs-4.px-3.selected(href="/") Store 
                        li.nav-item
                            a.nav-link.text-dark.fs-4.px-3(href="/new_product") New Product 


        .card-container.pt-3
            .card.m-3.custom-card
                img.card-img-top.card_image(src="../assets/apples.jpg", alt="Apples")
                .card-body
                    h3.card-title.m-1 Apples
                    button.btn.btn-warning.w-100.mt-3 Add to Cart

            div.card.m-3.custom-card
                img.card-img-top.card_image(src="../assets/orange.jpg", alt="Orange")
                .card-body
                    h3.card-title.m-1 Orange 
                    button.btn.btn-warning.w-100.mt-3 Add to Cart 

            div.card.m-3.custom-card
                img.card-img-top.card_image(src="../assets/pineapple.jpg", alt="Pineapple")
                div.card-body
                    h3.card-title.m-1 Pineapple 
                    button.btn.btn-warning.w-100.mt-3 Add to Cart
                </div>
            </div>
            div.card.m-3.custom-card
                img.card-img-top.card_image(src="../assets/bananas.jpg", alt="Bananas")
                div.card-body
                    h3.card-title.m-1 Bananas 
                    button.btn.btn-warning.w-100.mt-3 Add to Cart
